@tailwind base;
@tailwind components;
@tailwind utilities;


/* THE GLOBAL CSS FOR THE PAGES  */
html {
    font-family: Nunito;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 30px auto;
}

.heading {
    color: #000;
    font-size: 25px;
    font-weight: 600;
}

.container {
    max-width: 1500px;
    display: flex;
    height: 100vh;
}

.labels {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.left-panel {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel {
    flex-direction: column;
    display: flex;
    flex: 2;
    background-color: #FAFAFA;
    padding: 20px;
    text-align: center;
}

.main-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.main-form input[type="text"],
.main-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #F7F7F8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.page-btn {
    width: 100%;
    padding: 10px;
    background-color: #605BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.line-message {
    font-size: 13px;
    margin-top: 8px;
}

.link-btn {
    margin: 2px;
    color: blue;
    font-size: 12px;
}

/* for error messages */
.error-message {
    display: block;
    color: red;
    font-size: 15px;
    text-align: left;
}