.message-style {
    font-size: 12px;
    padding-bottom: 10px;
}

.inline-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
}

.password-toggle {
    position: relative;
}


.password-toggle .toggle-icon {
    position: absolute;
    top: 58%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.signup-illustrate {
    margin: auto;
    width: 500px;
}